<html>
  <title>
    Welcome to renaming area
  </title>
  <head>
<!--    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script> -->
    <script type="text/javascript" src="/static_media/jquery.js"> </script> 
    <script type="text/javascript" src="/static_media/rename.js"></script>
  </head>  
  <body>
    
    <form id="search_form">
      Song name : <input id="q" type="text" />
      <input type="submit" /><br />
    </form>
    <ul id="search_list"></ul>

    <div id="sng" contenteditable="true"></div>
    <button id="rbutt" type="button" value="Process renaming">Process renaming</button>
  <body>
    
</html>
